*{
    margin: 0;
    box-sizing:border-box;/*considera todos os valores de padding e margin dos containers e blocos*/
}
/*img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 10px;
}*/
html, body, .aside-wrap, main, section{
    height: 100%;
    /*text-align: center;*/
    }
    /*SECTION*/
    section{
        max-width: 900PX;
        padding: 5% 0 0 300px;
    }
        .section-title {
            font-size: 56px;
        }
        .section-description{
            font-size: 18px;
            line-height: 1.3;
            margin: 10px 0;
        }
    html{
        scroll-behavior: smooth;
    }
body{
    background-color: rgba(149, 137, 255, 0.034);
    font-family: sans-serif;
   }
.aside-wrap .menu-list{
    list-style: none;
    margin-top:20px;
    }
    /*.aside-wrap .menu-item{
        line-height: 3;
            }*/
.aside-wrap .menu-link{
    color:rgba(0, 0, 0, 0.932);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin-right: 40px;
    background-color: whitesmoke;
    border-radius:4px;
    padding: 5px;
    display: block;
    margin-top: 10px;
    text-align: center;
    }
.name{
    font-family: ubuntu, sans-serif;
    font-size: 40px;
    }
    /*ASIDE WRAP*/
    .aside-wrap{
    background-color: rgba(137, 145, 255, 0.034);
    background-image: linear-gradient(to bottom right,red, black);
    width: 240px;
    padding: 100px 20px;
    position: fixed;    
    
     }

     .profile-img{
        width: 240px;/*largura*/
        height: 240px;/*altura*/
        border-radius: 5px;/*borda*/
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);/*sombra imagem*/
    
     }

    .aside-wrap .menu-link:hover{
        border-bottom: 2px solid rgb(131, 226, 43);
    }
    
    /*SECTION HOME*/
    #home .email-link{
        text-transform: uppercase;
        color: red;
        text-decoration: none;
    }
    
    